#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color:black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.buttons:hover{
    background-color: #333;
}
body{
    font-family: Verdana;
    text-align: center;
}
#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}
.myLabels{
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
}
