#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color:black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.buttons:hover{
    background-color: #333;
}
body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(218, 212, 212);
}
#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}
.myLabels{
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
}
h1{
    color: rgb(20, 74, 92);
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgb(161, 157, 157);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(48, 43, 43, 0.39);
    border-radius: 5px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: aquamarine;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(36, 123, 94);;
}
#result{
    font-size: 1.5em;
    font-weight: bold;
}